html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  /* font-family: "Nunito", sans-serif; */
  font-family: "Work Sans", sans-serif;
  color: white;
}
:root {
  --light-gray: #d1cdcd;
  --light-dark: #817f7f;
  --dark-low: #525252;
  --dark-medium: rgba(65, 65, 65, 0.9);
  --dark-midhight: #3b3636;
  --dark-high: #313131;
  --red: #ca3e47;
  --red-high: #c1232d;
  --font-family: "Work Sans", sans-serif;
}

.section-one {
  background-color: var(--dark-midhight);
}
.section-two {
  background-color: var(--dark-medium);
}

.section-container {
  padding: 6rem 0 4rem;
}

#banner,
#about,
#features,
#tech,
#porfolio,
#contact {
  overflow: hidden;
}

/*  ################################################################################################
    ######################################_MENU_#################################################### 
    ################################################################################################  */

.navbar {
  background-color: var(--dark-high);
}

.navbar-brand {
  margin-left: 1.5rem;
}
.navbar-nav {
  margin-right: 2rem;
}
.nav-item {
  padding: 0.5rem;
}

.nav-link {
  text-decoration: none;
  color: var(--light-gray);
  font-size: 1.1rem;
}

.nav-link:hover {
  color: var(--red);
}

.active {
  color: white;
}

.navbar-toggler-icon {
  display: flex;
  justify-content: center;
  height: 48px;
  width: 48px;
}
.toggler-img {
  height: 48px;
  width: 48px;
}

@media (max-width: 920px) {
  .navbar {
    padding-right: 0;
  }
  .navbar-brand-img {
    height: 48px;
    width: 48px;
  }
  .navbar-brand {
    margin-left: 0.5rem;
  }
  .nav-item {
    text-align: center;
  }
}
/* ################################################################################################
    ######################################_BANNER_#################################################### 
    ################################################################################################ */

.banner {
  display: grid;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.banner-img-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.banner-img {
  max-width: 100%;
  height: auto;
  min-height: 100%;
  filter: grayscale(60%) brightness(20%);
  position: fixed;
  z-index: -1;
}

.banner-text {
  position: relative;
  /* top: adaptado en animation.js */
  text-align: center;
}

.banner-title {
  color: var(--red);
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 3em;
}

.banner-description {
  color: white;
  font-size: 2em;
  margin-top: 1em;
}

@media (max-width: 920px) {
  .banner {
    font-size: 15px;
  }
  .banner-description {
    margin-top: 0.5em;
  }
}

/* ################################################################################################
    ######################################_ABOUT_#################################################### 
    ################################################################################################ */

.about-col-1 {
  justify-content: center;
  margin: auto;
}

.about-title {
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  padding-bottom: 1em;
  color: var(--red);
}

.about-description {
  font-size: 1.15em;
  line-height: 1.8em;
  letter-spacing: 0.06em;
}

.about-col-2 {
  display: flex;
  justify-content: center;
}
.about-img-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.about-img {
  border-radius: 100%;
  border: solid 1em var(--dark-high);
}

@media (max-width: 920px) {
  #about {
    font-size: 14px;
  }
  .about-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .about-img {
    height: 250px;
    width: 250px;
  }
  .about-title {
    padding-bottom: 0.3em;
  }
  .about-description {
    font-size: 1.1em;
    line-height: 1.2em;
    letter-spacing: 0.04em;
    text-align: center;
    padding-bottom: 0.5em;
  }
}
/* ################################################################################################
    ######################################_FEATURES_#################################################### 
    ################################################################################################ */

.features-column {
  padding: 0 1em;
}
.features-title {
  color: white;
  font-size: 2.3em;
  text-align: center;
  font-weight: 600;
}

.features-description {
  color: var(--light-grey);
  font-size: 1.05em;
  line-height: 1.8em;
  letter-spacing: 0.04em;
  padding: 0 1em;
}

.features-img-container {
  display: flex;
  justify-content: center;
  padding: 3em;
}

@media (max-width: 920px) {
  #features {
    font-size: 14px;
  }
  .features-img-container {
    padding: 1.5em 3em;
  }
  .features-description {
    line-height: 1.5em;
    padding: 0 1em 2em;
    text-align: center;
  }
}
/* ################################################################################################
    ######################################_TECHNO_#################################################### 
    ################################################################################################ */

.tech-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 2.5rem;
  color: var(--red);
}

.tech-col {
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}

.tech-subtitle {
  padding-bottom: 0.5rem;
}

.tech-img-container {
  display: flex;
  justify-content: center;
}

.star-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  overflow: hidden;
  position: relative;
}
/* .tech-hr {
  visibility: hidden;
} */

.star-img1,
.star-img2,
.star-img3,
.star-img4,
.star-img5,
.star-img6,
.star-img7 {
  margin: 0 5px;
  position: relative;
  top: 16px;
  transition: 0.5s all ease;
}

.subir {
  top: 0;
}

@media (max-width: 920px) {
  .tech-title {
    font-size: 2.8rem;
  }
  .star-container {
    padding-bottom: 1rem;
  }
  /* .tech-hr {
    visibility: visible;
    border: hidden;
    border-bottom: dotted var(--dark-high) 10px;
    width: 15%;
    margin-top: 3em;
    opacity: 80%;
  } */
}
/* ################################################################################################
    ######################################_PORFOLIO_#################################################### 
    ################################################################################################ */

.porfolio-glide {
  position: relative;
  text-align: center;
  padding-top: 6em;
}

.porfolio-main-title {
  font-size: 2.5em;
  font-weight: 600;
  color: var(--red);
}
.glide__slide {
  display: flex;
  justify-content: center;
  padding: 1em 0 5em;
}

.porfolio-container {
  background-color: var(--dark-high);
  padding: 2em;
  text-align: center;
  height: 27em;
  width: 40em;
  border-radius: 25px;
}

.porfolio-title {
  font-weight: 600;
  font-size: 1.8em;
}

.porfolio-description {
  color: var(--light-grey);
  font-size: 1em;
}

.porfolio-img-container {
  margin: 1.5em 2.5em;
  overflow: hidden;
  height: 15em;
  width: 30em;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.porfolio-img {
  border-radius: 10px;
}

.glide__arrows,
.glide__bullets,
.glide__arrow {
  position: absolute;
}

.glide__arrows {
  top: 50%;
  width: 100%;
}

.glide__arrow {
  display: flex;
  justify-content: center;
  background-color: var(--red);
  border: none;
  border-radius: 100%;
  height: 4em;
  width: 4em;
  transition: ease all 0.4s;
}

.glide__arrow:hover {
  background-color: var(--red-high);
}

.glide__arrow--left {
  left: 10%;
}

.left-img {
  position: absolute;
  top: calc(50% - 16px);
  left: 22%;
}

.glide__arrow--right {
  right: 10%;
}

.right-img {
  position: absolute;
  top: calc(50% - 16px);
  right: 22%;
}

.glide__bullets {
  top: 88%;
  left: calc(50% - 2rem);
  padding: 0;
  display: flex;
  justify-content: center;
  width: 4em;
}

.glide__bullet {
  border: none;
  border-radius: 100%;
  height: 0.8em;
  width: 0.8em;
  margin: 0 0.5em 0 0;
}

.glide__bullet--active {
  background-color: var(--red);
}

@media (max-width: 920px) {
  #porfolio {
    font-size: 14px;
  }
  .porfolio-main-title {
    font-size: 3em;
  }
  .porfolio-container {
    height: 30em;
    width: 80%;
    padding: 1.5em 2em;
  }
  .porfolio-description {
    font-size: 1.1em;
  }
  .porfolio-img-container {
    width: 90%;
    margin: 1.5em auto;
  }
  .glide__arrow {
    visibility: hidden;
  }
  .glide__bullets {
    top: 90%;
  }
  .glide__bullet {
    margin-right: 0.7em;
  }
  /* .glide__arrow {
    height: 3em;
    width: 3em;
  }
  .glide__arrow--left {
    left: 5%;
  }
  .glide__arrow--right {
    right: 5%;
  }
  .right-img,
  .left-img {
    height: 2.1em;
    width: 2.1em;
    top: calc(50% - 15px);
  }
  .right-img {
    right: 10%;
  }
  .left-img {
    left: 10%;
  } */
}
/* ################################################################################################
    ######################################_CONTACT_#################################################### 
    ################################################################################################ */

.contact-container {
  padding: 6em 1em 7em;
  text-align: center;
}

.contact-title {
  font-weight: 600;
  font-size: 3.5em;
  letter-spacing: 2px;
}
.contact-description {
  margin: 1em 0 2.5em;
  font-size: 1.5em;
  color: var(--light-gray);
}

.contact-button {
  background-color: var(--red-high);
  color: var(--light-gray);
  font-family: "Work Sans", sans-serif;
  font-size: 1.3em;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  /* border: solid 5px var(--dark-high); */
  padding: 10px 20px;
  box-shadow: none;
  transition: all ease 0.5s;
}

.contact-button:hover {
  background-color: var(--red);
  color: white;
}

.contact-link,
.contact-link:hover {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 920px) {
  #contact {
    font-size: 14px;
  }
}

/* ################################################################################################
    ######################################_FOOTER_#################################################### 
    ################################################################################################ */

#footer {
  text-align: center;
  background-color: var(--dark-high);
}

.footer-description {
  padding: 0.8rem 0;
  font-size: 0.9rem;
  font-weight: 100;
}

/* ################################################################################################
    ######################################_CONTACT-PAGE_#################################################### 
    ################################################################################################ */

.contact-page-container {
  padding-top: 4em;
  display: flex;
  justify-content: center;
}

.contact-page-title {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 10px;
}
.contact-page-card {
  background-color: var(--dark-low);
  color: var(--light-gray);
  padding: 2em 3em;
  margin: 2em;
  border-radius: 25px;
  width: 60%;
  font-size: 1.1em;
  font-weight: 600;
}

.form-button-container {
  display: flex;
  justify-content: center;
}

.contact-form-button {
  background-color: var(--red-high);
  color: var(--light-gray);
  font-family: "Work Sans", sans-serif;
  font-size: 1.25em;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  /* border: solid 5px var(--dark-high); */
  padding: 7px 15px;
  box-shadow: none;
  transition: all ease 0.5s;
}

.contact-form-button:hover {
  background-color: var(--red);
  color: white;
}
.contact-form-success {
  text-align: center;
  color: #0a6901e6;
  background-color: #30d421e6;
  margin-top: 1em;
  visibility: hidden;
  height: 0;
}

@media (max-width: 920px) {
  #contact-page {
    font-size: 13px;
    min-height: 100vh;
  }
  .contact-page-card {
    width: auto;
    margin: 3em 1em 1em 1em;
    padding: 2em 1.5em 1em;
  }
  .contact-page-title {
    margin-bottom: 1em;
  }
}
